<div class="container">

  <p>
    <form action="">
      <h1>IMPORTS</h1>
      <select name="import" id="imports">
        <% @imports.each do |import| %>
          <option value="<%= import[1] %>"><%= import[0] %></option>
        <% end %>
      </select>
    </form>
  </p>

  <canvas id="myChart" width="820" height="400"></canvas>
</div>
